#titleSection {
    background-color: #ff4c68;
    padding: 3% 15%;
    color: #fff;
}

.download-button {
    margin: 5% 3% 5% 0%;
}

.title-image {
    width: 55%;
    transform: rotate(34deg);
    position: absolute;
    right: 34%;
}

@media (max-width: 1024px) {
    #titleSection {
        text-align: center;
    }

    .title-image {
        transform: rotate(0);
        position: static;
    }
}