.feature-box {
    text-align: center;
    padding: 8%;
    z-index: 0;
    background-color: #fff;
}

@media (max-width: 1024px) {
    .feature-box {
        text-align: center;
    }
}

h3 {
    font-weight: 900;
}

p {
    color: #8f8f8f;
}